{% extends "layout.html" %}
{% block content %}

        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <table style="width:100%">
              <tr>
                <th  style="text-align:center">Types of books</th>
                <th  style="text-align:center">No. of books rented</th>
                <th  style="text-align:center">Rent Duration</th>
              </tr>
              <tr>
                <td  style="text-align:center">
                {{ form.regular_books_count.label(class="form-control-label") }}
                </td>
                <td  style="text-align:center">
                {% if form.regular_books_count.errors %}
                    {{ form.regular_books_count(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.regular_books_count.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.regular_books_count(class="form-control form-control-lg") }}
                {% endif %}
              </td>
              <td  style="text-align:center">
              {% if form.regular_rent_duration.errors %}
                  {{ form.regular_rent_duration(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.regular_rent_duration.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.regular_rent_duration(class="form-control form-control-lg") }}
              {% endif %}
            </td>
              </tr>
              <tr>
                <td  style="text-align:center">
                {{ form.fiction_books_count.label(class="form-control-label") }}
                </td>
                <td  style="text-align:center">
                {% if form.fiction_books_count.errors %}
                    {{ form.fiction_books_count(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.fiction_books_count.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.fiction_books_count(class="form-control form-control-lg") }}
                {% endif %}
              </td>
              <td  style="text-align:center">
              {% if form.fiction_rent_duration.errors %}
                  {{ form.fiction_rent_duration(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.fiction_rent_duration.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.fiction_rent_duration(class="form-control form-control-lg") }}
              {% endif %}
            </td>
              </tr>
              <tr>
                <td  style="text-align:center">
                {{ form.novel_books_count.label(class="form-control-label") }}
                </td>
                <td  style="text-align:center">
                {% if form.novel_books_count.errors %}
                    {{ form.novel_books_count(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.novel_books_count.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.novel_books_count(class="form-control form-control-lg") }}
                {% endif %}
              </td>
              <td  style="text-align:center">
              {% if form.novel_rent_duration.errors %}
                  {{ form.novel_rent_duration(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.novel_rent_duration.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.novel_rent_duration(class="form-control form-control-lg") }}
              {% endif %}
            </td>
              </tr>
              <tr>

                <td style="text-align:center">
                  <div class="form-group">

                    {{ form.total.label(class="form-control-label") }}
                  </div>
                </td>
                <td style="text-align:center">
                  {% if total %}
                    {{ form.total(readonly=true, class="form-control form-control-lg", value=total) }}
                  {% else %}
                    {{ form.total(readonly=true, class="form-control form-control-lg") }}
                  {% endif %}
                </td>
              </tr>

              <tr>

                <td style="text-align:center"></td>
                <td style="text-align:center">
                  <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
                  </div>
                </td>
              </tr>
            </table>
        </form>
{% endblock content %}
